

<div class="footer">
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <a class="logo-footer" href="/">Harriman Magazine</a>
      <ul class="social-media-icons">
        <li><a class="icon-facebook" href="https://www.facebook.com/TheHarrimanInstitute/">Facebook</a></li>
        <li><a class="icon-twitter" href="https://twitter.com/HarrimanInst">Twitter</a></li>
        <li><a class="icon-instagram" href="https://www.instagram.com/harrimaninstitute/">Instagram</a></li>
        <li><a class="icon-youtube" href="https://www.youtube.com/channel/UCKWSMiS-sC7lOxKIoMx0PIA">YouTube</a></li>
      </ul>
      <a href="/" class="logo-columbia">Columbia University</a>
    </div>
    <div class="col-sm-2">
      <ul>
        <!-- <li><a href="">Current Issue</a> -->
        <li><a href="/issues">Past Issues</a>
      </ul>
    </div>
    <div class="col-sm-2">
      <ul>
        <li><a href="/profiles">Profiles</a>
        <li><a href="/essays">Essays</a>
        <li><a href="/interviews">Interviews</a>
        <li><a href="/alumni-notes">Alumni Notes</a>
        <li><a href="/spotlights">Spotlights</a>
      </ul>
    </div>
    <div class="col-sm-2">
      <ul class="about-menu">
      <li><a href="">About the Magazine</a>
      <li><a href="">Staff</a>
      <li><a href="">Contact Us</a>
      </ul>
    </div>
    <div class="col-sm-2">
      <ul>
        <li><a href="https://harriman.columbia.edu/">Harriman Institute</a></li>
        <li><a href="https://ma.harriman.columbia.edu/">MARS-REERS Program</a></li>
        <li><a href="http://oralhistory.harriman.columbia.edu/">Oral History Project</a></li>
        <li><a href="https://eurasianet.org/podcast/expert-opinions">Expert Opinions Podcast</a></li>
        <li><a href="https://harriman.givenow.columbia.edu/">Give to Harriman</a></li>
      </ul>
    </div>
    </div>
    <div class="row">
     <div class="col-sm-12">
       <div class="legal">
          <p>Print Design & Art Direction by Columbia Creative</p>
          <p>&copy;2019 Harriman Institute Columbia University</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
