

<div class="footer">
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <a class="logo-footer" href="/">Harriman Magazine</a>
      <ul class="social-media-icons">
        <li><a class="icon-facebook" href="https://www.facebook.com/TheHarrimanInstitute/">Facebook</a></li>
        <li><a class="icon-twitter" href="https://twitter.com/HarrimanInst">Twitter</a></li>
        <li><a class="icon-instagram" href="https://www.instagram.com/harrimaninstitute/">Instagram</a></li>
        <li><a class="icon-youtube" href="https://www.youtube.com/channel/UCKWSMiS-sC7lOxKIoMx0PIA">YouTube</a></li>
        <li><a class="icon-linkedin" href="https://www.linkedin.com/company/the-harriman-institute/">LinkedIn</a></li>
      </ul>
      <a href="/" class="logo-columbia">Columbia University</a>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <ul>
         <li><a href="/issues">Issues</a>
        <li><a href="/profiles">Profiles</a>
        <li><a href="/essays">Essays</a>
        <li><a href="/interviews">Interviews</a>
        <li><a href="/alumni-notes">Alumni Notes</a>
      </ul>
    </div>
    <div class="col-sm-2">
     
    </div>
    <div class="col-sm-3">
      <ul>
        <li><a href="https://harriman.columbia.edu/">Harriman Institute</a></li>
        <li><a href="/about">About the Magazine</a>
        <li><a href="https://harriman.givenow.columbia.edu/">Give to Harriman</a></li>
      </ul>
    </div>
    </div>
    <div class="row">
     <div class="col-sm-12">
       <div class="legal">
          <p>Print Design & Art Direction by Columbia Creative</p>
          <p>&copy;{{ "now" | date: "%Y" }} Harriman Institute Columbia University</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</body>
</html>
