{% include "head" title="Issues" %}


<div class="issue Dark">
<div class="header-sm" style="background: '#ffffff'};">
 <div class="container">
   <button class="btn-menu">
     <span class="bar"></span>
     <span class="bar"></span>
     <span class="bar"></span>
   </button>
 <div class="row">
   <div class="col-sm-12">
     <a class="brand" href="/">
     <div class="logo">Harriman</div>
     </a>
  </div>
 </div>
</div>
</div>

{% include "menu" %}

<div class="page">
  <div class="container">
    <div class="row">

    {% for issue in content %}
      <div class="col-xs-6 col-sm-3">
      {% if issue.field_link_to_pdf != "true" %}
        <a href="/issue/{{ issue.nid }}">
          {% if issue.field_cover_image %}
          <img class="cover-image" src="http://api.magazine.harriman.danmccarey.com/{{ issue.field_cover_image }}" />
          {% else %}
          <img class="cover-image" src="https://api.magazine.harriman.danmccarey.com/sites/default/files/default_images/default.png" />
          {% endif %}
        </a>
      {% endif %}
      {% if issue.field_link_to_pdf == "true" %}
        <a target="blank" href="https://api.magazine.harriman.danmccarey.com/{{ issue.field_pdf }}">
          {% if issue.field_cover_image %}
          <img class="cover-image" src="http://api.magazine.harriman.danmccarey.com/{{ issue.field_cover_image }}" />
          {% else %}
          <img class="cover-image" src="https://api.magazine.harriman.danmccarey.com/sites/default/files/default_images/default.png" />
          {% endif %}
        </a>
      {% endif %}
      </div>
    {% endfor %}

    </div>
  </div>
</div>

</div>



{% include "footer" %}
