<div class="main-menu">
 <div class="container">
  <button class="btn-close">X</button>
   <div class="content">
     <div class="col-sm-3">
       <ul>
       <li><a href="/profiles">Profiles</a></li>
       <li><a href="/essays">Essays</a></li>
       <li><a href="/interviews">Interviews</a></li>
       <li><a href="/alumni-notes">Alumni Notes</a></li>
       <li><a href="/spotlights">Spotlights </a></li>
       </ul>
       <div class="footer">
         <a href="/issues">Issues</a>
         <a target="blank" href="https://eurasianet.org/podcast/expert-opinions">Podcast</a></li>
        </div>
     </div>
   </div>
 </div>
</div>
