<div class="main-menu">
<div class="main-menu--content">
 <div class="container">
  <button class="btn-close"><i class="bi bi-x-lg"></i></button>
   <div class="content">
     <div class="col-sm-4">
       <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/profiles">Profiles</a></li>
       <li><a href="/essays">Essays</a></li>
       <li><a href="/interviews">Interviews</a></li>
       <li><a href="/alumni-notes">Alumni Notes</a></li>
       <!--<li><a href="/spotlights">Spotlights </a></li>-->
       </ul>
       <div class="footer">
         <a href="/issues">Issues</a>
         <a target="blank" href="https://eurasianet.org/podcast/expert-opinions">Podcast</a></li>
        </div>
     </div>
   </div>
 </div>
 </div>
 <div class="mask"></div>
</div>
