<div class="main-menu">
<div class="main-menu--content">
 <div class="container">
  <button class="btn-close"><i class="bi bi-x-lg"></i></button>
   <div class="content">
     <div class="col-sm-4">
       <ul>
       <li><a href="/issues">Issues</a></li>
       <li><a href="/profiles">Profiles</a></li>
       <li><a href="/essays">Essays</a></li>
       <li><a href="/interviews">Interviews</a></li>
       <li><a href="/alumni-notes">Alumni Notes</a></li>
       <!--<li><a href="/spotlights">Spotlights </a></li>-->
       </ul>
       <div class="footer">
         <a href="/about">About</a>
         <a target="blank" href="https://eurasianet.org/podcast/expert-opinions">Podcasts</a></li>
         <a href="https://harriman.givenow.columbia.edu/">Give</a>
        </div>
     </div>
     <div class="col-sm-7">
      <form class="search-form">
        <input class="search-box" placeholder="Search..." type="text" />
        <button class="search-btn"><i class="bi bi-search"></i></button>
        <ul class="social-media-icons">
        <li><a class="icon-facebook" href="https://www.facebook.com/TheHarrimanInstitute/">Facebook</a></li>
        <li><a class="icon-twitter" href="https://twitter.com/HarrimanInst">Twitter</a></li>
        <li><a class="icon-instagram" href="https://www.instagram.com/harrimaninstitute/">Instagram</a></li>
        <li><a class="icon-youtube" href="https://www.youtube.com/channel/UCKWSMiS-sC7lOxKIoMx0PIA">YouTube</a></li>
        <li><a class="icon-linkedin" href="https://www.linkedin.com/company/the-harriman-institute/">LinkedIn</a></li>
      </ul>
      </form>
     </div>
   </div>
 </div>
 </div>
 <div class="mask"></div>
</div>
