{% include "head" title=category %}


<div class="issue Dark">
<div class="header-sm" style="background: '#ffffff'};">
 <div class="container">
   <button class="btn-menu">
     <span class="bar"></span>
     <span class="bar"></span>
     <span class="bar"></span>
   </button>
 <div class="row">
   <div class="col-sm-12">
     <a class="brand" href="/">
     <div class="logo">Harriman</div>
     </a>
  </div>
 </div>
</div>
</div>

{% include "menu" %}


<div class="page">
  <div class="container">
    <div class="row">

      <div class="alumni-notes">
      <div class="container">
        <div class="row">
         <div class="col-sm-12">
         <h2>Alumni notes</h2>
         </div>
         {% for article in content %}
          <div class="col-sm-3">
          <div class="alumni-note-item">
            <p><a href="/note/{{article.nid}}">{{ article.title }}</a></p>
          </div>
          </div>
         {% endfor %}
         </div>
        </div>
      </div>
      </div>


    </div>
  </div>
</div>

</div>



{% include "footer" %}
