@charset "utf-8";

@import "partials/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway|Yantramanav:400,700,800&display=swap');

@font-face {
  font-family: 'Trajan Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Trajan Pro Regular'), url('/dist/assets/TrajanPro-Regular.woff') format('woff');
  }
  

.container {
  max-width: 1000px;
}

body {
  font-family: 'Yantramanav', sans-serif;

  a:focus,
  a:hover {
    color: inherit;
    opacity: 0.6;
    text-decoration: none;
  }
}

.top-bar {
  background: #222;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Trajan Pro Regular", serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 6px 0 3px 0;

  a {
    color: #fff;
  }
}
@media(max-width: 600px) {
  .top-bar {
    font-size: 12px;
  }
}

.Light {
  color: #fff !important;
  .header-sm {

  .tagline {
    background: url('/dist/assets/tagline-sm-light.png') no-repeat !important;
    background-size: contain !important;
  }
  .logo {
    background: url('/dist/assets/logo-sm-light.png') no-repeat !important;
    background-size: contain !important;
  }
  .logo-columbia-crest {
    right: 15px;
    top: 15px;
  }
  @media (max-width: 600px) {
    .logo-columbia-crest {
      display: none !important;
    }
  }
 }
 .header-lg {
 .tagline {
   background: url('/dist/assets/tagline-lg-light.png') no-repeat !important;
   background-size: contain !important;
 }
 .logo {
   background: url('/dist/assets/logo-lg-light-mag.png') no-repeat !important;
   background-size: contain !important;
 }
}
  p.translator,
  p.author a {
    font-size: 18px;
    color: #fff !important;
  }
  a {
    color: #fff !important;
  }
  .bar {
    background: #fff !important;
  }
}

.Dark {
  color: #111;
  .header-sm {
  .tagline {
    background: url('/dist/assets/tagline-sm-dark.png') no-repeat !important;
    background-size: contain !important;
  }
  .logo {
    opacity: 0.9;
    background: url('/dist/assets/logo-sm-dark.png') no-repeat !important;
    background-size: contain !important;
  }
}
 .header-lg {
  .tagline {
    background: url('/dist/assets/tagline-lg-dark.png') no-repeat !important;
    background-size: contain !important;
  }
  .logo {
    background: url('/dist/assets/logo-lg-dark-mag.png') no-repeat !important;
    background-size: contain !important;
  }
 }

 p.translator, {
   font-size: 14px;
 }
 p.author a {
   font-size: 18px;
   color: #000;
 }

  .story-grid a {
    color: #111 !important;
  }
  .bar {
    background: #111;
  }
}

  .btn-menu {
    outline: none;
    background: none;
    border: none;
    position: absolute;
    width: 40px;
    height: 45px;
    right: 0;
    z-index: 1000;
    cursor: pointer;
    .bar {
      height: 4px;
      width: 30px;
      display: block;
      margin: 0 0 4px 0;
      background: #111;
    }
  }
  .btn-menu:hover {
    cursor: pointer;
  }




.header-lg {
  padding: 40px 0;
  background: #EF4922;
  @media(max-width: 600px) {
      height: 10px 0;
      padding: 40px 0 0 0;
  }
  .container {
    position: relative;
  }
  .btn-menu {
    top: -20px;
    right: 15px;
  }
  .btn-menu:hover,
  .btn-menu:focus {
    opacity: 0.5;
  }

 
  .logo {
    background: url('/dist/assets/logo-lg-light-mag.png') no-repeat center center;
    display: block;
    background-size: contain;
    height: 220px;
    text-indent: -9999px;
    width: 100%;
    margin: 30px 0 0 0;
      @media(max-width: 1200px) {
          height: 200px;
      }
      @media(max-width: 990px) {
          height: 170px;
      }
      @media(max-width: 700px) {
          height: 140px;
      }
      @media(max-width: 600px) {
          height: 100px;
      }
  }
  .logo-columbia-crest {
    left: 20px;
    right: auto;
    top: -20px;
  }
}

.header-sm {
  .container {
    position: relative;
  }
  .btn-menu {
    top: 20px;
    right: 10px;
    z-index: 100;
    outline: none;
  }
  @media (max-width: 600px) {
    .btn-menu {
      right: 15px;
    }
  }
  .brand {
    display: block;
    width: 250px;
    margin-top: 30px;
  }
  .logo {
    background: url('/dist/assets/logo-sm-dark.png') no-repeat;
    height: 50px;
    text-indent: -9999px;
    opacity: 0.9;
    background-size: contain;
  }
  .logo-columbia-crest {
    right: 15px;
    top: 25px;
  }
  @media (max-width: 600px) {
    .logo-columbia-crest {
      display: none !important;
    }
  }
}

.front {
  .container {
    max-width: 1000px;
  }
  .featured {
    background: #EF4922;
    padding-bottom: 0px;
  .story {
    height: 400px;
    width: 100%;
    background: #555;
    position: relative;
    @media(max-width: 400px) {
      height: 400px;
    }
  }
  .story-image {
    width: 100%;
    height: 400px;
    @media(max-width: 600px) {
      height: 400px;
    }
  }
  .story-content {
    background: rgba(0,0,0,0.6);
    width: 100%;
    padding: 40px 80px;
    color: #fff !important;
    position: absolute;
    bottom: 0;
    left: 0;
    @media(max-width: 600px) {
      padding: 20px;
    }
    h1 {
      font-size: 50px;
      font-weight: 700;
      @media(max-width: 600px) {
        font-size: 30px;
      }
    }

    p.author {
      color: #fff !important;
    }

    a {
      color: #fff !important;
    }

    a:hover {
      text-decoration: none;
    }

  }
 }
}

.Light {
.logo-columbia-crest {
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  text-indent: -9999px;
  background: url('/dist/assets/columbia-crest.png') no-repeat center center;
  background-size: contain;
}
}

.Dark {
.logo-columbia-crest {
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  text-indent: -9999px;
  background: url('/dist/assets/columbia-crest-dark.png') no-repeat center center;
  background-size: contain;
}
}
.logo-columbia-crest {
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  text-indent: -9999px;
  background: url('/dist/assets/columbia-crest-dark.png') no-repeat center center;
  background-size: contain;
}
.logo-columbia {
  height: 60px;
  width: 90%;
  display: block;
  margin: 0 0 40px 0;
  text-indent: -9999px;
  background: url('/dist/assets/columbia-logo.png') no-repeat left center;
  background-size: contain;
}



.page {
   width: 100%;
   background: #fff;
}

.front .page {
  padding-top: 120px;
  margin-top: -50px;
}

.article-header {
  background: #CCCFC1;
  padding: 60px 0;
  border-bottom: 4px solid #EF4922;
  position: relative;

  h1 {
    font-size: 50px;
    width: 90%;
    font-weight: 700;
    @media(max-width: 600px) {
      font-size: 50px;
    }
  }
  p {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  p.translator, {
    font-size: 14px;
  }
  p.author {
    font-size: 20px;
  }
  p.issue a {
    font-size: 14px;
    padding: 0;
    display: block;
    color: #000;
    right: 15px;
    bottom: 0px;
    position: absolute;
    text-transform: uppercase;
  }
}


.article-content {
  padding: 30px;
  background: #fff;
  margin-top: -40px;
  font-family: "Raleway", sans-serif;
  @media(max-width: 600px) {
    padding: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 30px 0;
    color: #111;
  }


  img {
    width: 100%;
    margin: 0 0 30px 0;
  }

  iframe {
    width: 100%;
  }

  figure {
    img {
     width: 100%;
     margin: 0;
    }
    margin: 0 0 30px 0;
  }

  p span {
    font-size: 83px;
    float: left;
    line-height: 1;
    margin: 0 10px 0 0;
  }

  figcaption {
    color: #888;
    margin: 10px 0;
  }

  blockquote {
    margin: 30px 0 30px -100px;
    @media(max-width: 1000px) {
      margin: 30px 0 30px 0;
    }
  }

  blockquote p {
    font-size: 30px;
    line-height: 1.4;
    @media(max-width: 700px) {
      font-size: 30px;
    }
  }

}


.issue {
  .issue-hero {
    .issue-hero-image {
      height: 300px;
      background: #333;
      margin-top: 40px;
      position: relative;
      overflow: hidden;
    }
    .issue-hero-image--mask {
      width: 600px;
      position: absolute;
      left: -425px;
      top: 0;
      height: 600px;
      background: #EF4922;
      transform: rotate(45deg);
    }
    .issue-hero-number {
      padding: 40px 0;
      font-size: 20px;
      text-transform: uppercase;
      text-align: right;
    }
    .issue-hero-content {
      padding: 40px 0;
      @media(max-width: 600px) {
          padding: 0 0 40px 0;
      }
      h1 {
        font-weight: 700;
        font-size: 30px;
        width: 70%;
      }
      p.subtitle {
        font-size: 20px;
        font-weight: 400;
      }
      a {
        color: #111;
      }
    }
  }
  .page {
    padding: 60px 0;
  }

  .alumni-notes {
    h2 {
      font-weight: bold;
    }
  }
}


.story-grid {
  .story-grid-column {
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
    background: #f9f9f9;

   .story-grid-column--image {
     background: url(http://api.magazine.harriman.danmccarey.com/sites/default/files/inline-images/image.png) no-repeat center center;
     background-size: cover;
     height: 320px;
     width: 100%;
     top: 0;
     position: absolute;
   }
   .story-grid-column--image-bottom {
     bottom: 0;
     top: auto;
     left: 0;
   }
   .story-grid-column--content {
     position: absolute;
     top: 320px;
     left: 0;
     z-index: 100;
     padding: 30px;

     h2 {
       font-size: 22px;
       font-weight: 700;
       margin-top: 0;
     }
     @media(max-width: 1000px) {
       h2 {
         font-size: 18px;
       }
     }
     @media(max-width: 600px) {
       h2 {
         font-size: 26px;
       }
     }

     p.subtitle {
       font-family: "Raleway", sans-serif;
       font-size: 14px;
     }
     @media(max-width: 1000px) {
       p.subtitle {
         font-size: 12px;
       }
     }
   }
   .story-grid-column--content-top {
     top: 0;
     bottom: auto;
   }


  }
}

.story-list {
  .story-list-item {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    color: #000 !important;
    a {
      color: #000 !important;
    }
    h2 {
      margin-top: 0;
      font-weight: 700;
    }
    h2 a {
      color: #000 !important;
    }
    p {
      font-size: 18px;
    }
    p.author {
      color: #555;
      font-size: 14px;
    }
  }
  .story-list-item:last-child {
    border-bottom: 0;
  }
}
.Light .story-list-item h2 a {
  color: #000 !important;
}

.cover-image {
  width: 100%;
  margin: 0 0 40px 0;
}

h2.front-section {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 4px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.featured-issues {
  margin-bottom: 80px;
}

.legal {
  margin: 80px 0 40px 0;
  color: #999;
  text-align: center;
}


.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: none;
}
.main-menu--content {
  background: rgba(0,0,0,0.9);
  z-index: 100;
  position: relative;
}
.main-menu .container {
  position: relative;
}
.main-menu .content {
  padding: 40px;
  position: relative;
  color: #fff;
  @media(max-width: 700px) {
    padding: 40px 15px;
  }
}
.main-menu h2 {
  font-size: 18px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
}
.main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.main-menu ul li a {
  color: #fff;
  font-size: 24px;
}
.main-menu .footer a {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin: 0 20px 0 0;
}
.main-menu .footer {
  background: none;
  padding: 0px;
  margin: 0 0 80px 0;
  @media(max-width: 700px) {
    margin: 0 0 20px 0;
  }
}
.main-menu ul.social-media-icons {
  margin-top: 180px;
  text-align: right;
}
.main-menu ul.social-media-icons li {
  display: inline-block;
}
.main-menu ul.social-media-icons li a {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 10px 0 0;
  white-space: nowrap;
  border-radius: 50%;
  border: 2px solid #999999;
  text-indent: 9999px;
}
.main-menu .search-input {
  background: #000;
  border: 1px solid #555;
  color: #fff;
  width: 300px;
  font-size: 15px;
  padding: 10px;
  margin: 0 0 30px 0;
  @media(max-width: 700px) {
    width: 180px;
  }
}
.main-menu form {
  position: relative;
}
.main-menu input {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #555;
  outline: none;
  width: 100%;
  font-size: 18px;
  color: #fff;
}
.main-menu .search-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  color: #fff;
  border: none;
}
.mask {
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.btn-close {
  font-family: "Raleway", sans-serif;
  background: none;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  z-index: 100;
  position: absolute;
  right: 40px;
  top: 40px;
}
.btn-close:hover,
.btn-close:focus {
  opacity: 0.6;
}


.footer {
  background: #222;
  color: #fff;
  padding: 60px 0 20px 0;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.footer ul li {
  margin: 0 0 5px 0;
}
.footer ul li a {
  font-size: 14px;
  color: #fff;
}
.footer .about-menu li a {
  color: #999;
}
.footer .legal {
  font-size: 12px;
}
.footer ul.social-media-icons {
  white-space: nowrap;
}
.footer ul.social-media-icons li {
  display: inline-block;
}
.footer ul.social-media-icons li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 0 0;
  white-space: nowrap;
  border-radius: 50%;
  border: 2px solid #999999;
  text-indent: -9999px;
}
.footer .logo-footer {
  width: 80%;
  height: 60px;
  display: block;
  margin-bottom: 40px;
  background: url('/dist/assets/logo-lg-light-mag.png') no-repeat left;
  background-size: contain;
  text-indent: -9999px;
}
.icon-facebook {
  background: url('/dist/assets/icon-facebook.png') no-repeat center center;
  background-size: 20%;
}
.icon-twitter {
  background: url('/dist/assets/icon-twitter.png') no-repeat center center;
  background-size: 50%;
}
.icon-instagram {
  background: url('/dist/assets/icon-instagram.png') no-repeat center center;
  background-size: 50%;
}
.icon-youtube {
  background: url('/dist/assets/icon-youtube.png') no-repeat center center;
  background-size: 50%;
}
.icon-linkedin {
  background: url('/dist/assets/icon-linkedin.png') no-repeat center center;
  background-size: 50%;
}

.recent-issues {
   margin: 0 0 80px 0;
   a {
    display: block;
    width: 100%;
    height: 300px;
    background: #eee;
  }
}

.director-letter {
  padding: 15px 40px;
  margin: 0 0 60px 0;
  background: #f2f2f2;
}

.director-letter h2,
.alumni-notes h2 {
  font-weight: 700;
}
.director-letter p,
.alumni-notes p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.director-letter a,
.alumni-notes a {
  color: #000 !important;
}

.front-featured {
   margin: 0 0 80px 0;
   a {
    display: block;
    width: 100%;
    height: 300px;
    background: #eee;
  }
}

.row-author-summary {
  text-align: center;
  margin-bottom: 40px;
}
.author-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.alumni-notes h2 {
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.alumni-note-item {
  margin: 20px 0;
  height: 120px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  color: #555;
}
.alumni-note-item a {
  font-size: 18px;
  color: #000;
}
.search {
  background: #111;
  padding: 100px 0;
  h2 {
    color: #777;
  }
  a {
    color: #fff;
    display: block;
    margin: 20px 0;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
  }
  a span {
    color: #777;
    text-transform: uppercase;
    font-size: 13px;
  }
  a:hover {
    color: #fff;
    opacity: 0.7;
  }
  p {
    color: #ccc;
  }
}